<% layout("/layouts/boilerplate") %>

<div class="row mt-4">
  <div class="col-md-6 offset-3">
    <h1>Login on Wanderlust</h1>
    <form action="/login" method="post" novalidate class="needs-validation">
      <div class="form-section">
        <h3 class="form-section-title">Basic Information</h3>

        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            name="username"
            id="username"
            placeholder="Enter your username"
            required
            class="form-control"
          />
          <div class="invalid-feedback">Please enter the username</div>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Enter your password"
            required
            class="form-control"
          />
          <div class="invalid-feedback">Please enter the password</div>
        </div>

        <button type="submit" class="btn-primary">Login</button>
      </div>
    </form>
  </div>
</div>
